/* Global styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
    color: #333;
  }
  
  h1, h2, h3 {
    color: #333;
  }
  
  button {
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    margin: 5px;
    border-radius: 4px;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  input[type="text"],
  input[type="number"] {
    padding: 8px;
    font-size: 16px;
    margin: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  ul {
    list-style-type: none;
    padding-left: 0;
  }
  